@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

*{
    font-family: "Sedan", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body{
    background: #081B29;
    color: beige;
    margin: 0;
}


.head{
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    text-decoration: none;
    color: beige;
    font-weight: 700;
    font-size: 1.8em;
    position: relative;
}

.logo::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081B29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.nav-bar a{
    text-decoration: none;
    color: beige;
    padding-left: 40px;
    font-weight: 500;
    font-size: 1.1em;
    transition: .3s;
}

.nav-bar a:hover{
    color: #00abf0;
}

.home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;
    
}

.home-txt{
    max-width: 600px;
}

.home-txt h2{
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.home-txt h2::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081B29;
    animation: showRight 1s ease forwards;
    animation-delay: .8s;
}

.home-txt h1{
    font-size: 52px;
    font-weight: 700;
    color: #00abf0;
    letter-spacing: 2px;
    line-height: 1.2;
    position: relative;
}

.home-txt h1::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081B29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-txt p{
    font-size: 16px;
    margin: 20px 0 40px;
    position: relative;
}

.home-txt p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081B29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
}

.btn-box{
    width: 150px;
    height: 50px;
    background: transparent;
    align-items: center;
}



.btn-box a{
    position: relative;
    display: inline-flex;
    width: 150px;
    height: 100%;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #00abf0;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.btn-box a::before{
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .4s;
    position: absolute;
}

.btn-box a:hover::before{
    width: 100%;
}

.btn-box a:hover{
    color: beige;
}

.icons{
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.icons a{
    background: transparent;
    display: inline-flex;
    width: 25px;
    height: 25px;
    border: 1px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #00abf0;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.icons a::before{
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: width .2s;
    position: absolute;
   
}

.icons a:hover::before{
    width: 100%;
}



.icons a:hover{
    color: beige;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.img{
    width: 50%;
    background-color: #00abf0;
    height: 70%;
    border-radius: 5% 100% 5% 100%;
    display: flex;
    justify-content: center;

}

